[Unit]
Description=Waveshare RFID Reader Service
After=network.target

[Service]
ExecStartPre=/data/rfidreader/gpio_cleanup.sh
ExecStart=/usr/bin/python3 /data/rfidreader/rfidreader.py
WorkingDirectory=/data/rfidreader
StandardOutput=inherit
StandardError=inherit
Restart=always
User=volumio

[Install]
WantedBy=multi-user.target

