[Unit]
Description=Volumio RFID Tag Reader
After=network.target

[Service]
ExecStart=/usr/bin/python3.11 -u /home/VolumioRFID/VolumioRFID.py
Restart=always
User=volumio

[Install]
WantedBy=multi-user.target
